@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>      
        <div>
            This is meant to demo a typical Razor Page app with Blazor Apps spread throughout misc pages
        </div>
        <br />
        <a asp-page="./Test">Test</a><br />
    </div>
